<h2>Available drones</h2>
{{#each drones}}
<p>Drone name: {{name}}</p>
<ul>
    <li>Propellers: {{propellers}}</li>
    <li>Speed: {{maxSpeed}}</li>
</ul>
{{/each}}
<a href="/drones/create">Create a new drone</a>